config.stopBubbling = true
lombok.addJavaxGeneratedAnnotation = true
lombok.noArgsConstructor.extraPrivate = false
lombok.fieldNameConstants.prefix = ''
lombok.log.fieldName = logger
lombok.log.apacheCommons.flagUsage = ERROR
lombok.log.javaUtilLogging.flagUsage = ERROR
lombok.log.jbosslog.flagUsage = ERROR
lombok.var.flagUsage = ERROR
lombok.val.flagUsage = ERROR